body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.9); /* Hellerer Hintergrund */
    border-radius: 10px; /* Abgerundete Ecken */
    position: fixed;
    top: 15px;
    left: 15px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für modernen Look */
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
}

.logo {
    width: 100px; /* Breite des Titelbildes */
    height: auto;
    margin-right: 20px; /* Abstand zum Menü */
}

main {
    background-image: url('../img/Tajine.jpg'); /* Hintergrundbild setzen */
    background-size: cover; /* Hintergrundbild skalieren */
    background-position: center; /* Bild zentrieren */
    background-attachment: fixed;
    padding-top: 10px;
    position: relative; /* Für die Positionierung der transparenten Sektion */
    height: 98.5vh; /* Höhe des Viewports, um den Effekt zu zeigen */
    overflow-y: scroll; /* Bei Bedarf scrollen */
}




.transparent-background {
    background-color: rgba(255, 255, 255, 0.9); /* Halbtransparenter Hintergrund */
    padding: 5px;
    padding-left: 20px; /* Abstand innerhalb des Abschnitts */
    border-top-left-radius: 10px; /* Abgerundete Ecke oben links */
    border-bottom-left-radius: 10px; /* Abgerundete Ecke unten links */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    margin-left: 15px;
    margin-top: 15px;
}


section {
    height: auto; /* Entferne die feste Höhe, damit der Inhalt sichtbar ist */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 15px; /* Abstand zwischen den Menüpunkten */
}

.dropbtn {
    background-color: #c00; /* Roter Hintergrund */
    color: white;
    padding: 12px; /* Padding für gleiche Höhe */
    font-size: 16px; /* Größere Schriftgröße */
    border: none;
    border-radius: 5px; /* Abgerundete Ecken für modernen Look */
    cursor: pointer;
    min-width: 120px; /* Mindestbreite für gleichmäßige Buttons */
    text-align: center; /* Text zentrieren */
    transition: background-color 0.3s, transform 0.2s; /* Übergänge für Hover-Effekte */
}

.dropbtn:hover {
    background-color: #b00; /* Dunklerer Rotton beim Hover */
    transform: translateY(-2px); /* Leichte Anhebung beim Hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Hintergrundfarbe der Dropdown-Inhalte */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px; /* Abgerundete Ecken für Dropdown */
}

.dropdown-content a {
    color: black; /* Textfarbe der Links */
    padding: 10px 12px; /* Padding für die Unterpunkte */
    text-decoration: none;
    display: block;
    border-radius: 5px; /* Abgerundete Ecken für die Unterpunkte */
}

.dropdown-content a:hover {
    background-color: #c00; /* Roter Hintergrund beim Hover */
    color: white; /* Weißer Text beim Hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}





.tables-container {
    display: flex;  
}

.verb-tables {
    border-collapse: collapse;
    width: 250px; /* Set the width for each table */
    display: inline-block; /* Tabellen nebeneinander platzieren */
}

.word-tables {
    margin-top: -15px;
    margin-left: -8px;
    border: none;
    border-collapse: collapse; /* Optional, um Innenränder zu entfernen */
    
}

.word-td {
    width: 160px;
    padding-bottom: 5px;
    border: none;
    border-collapse: collapse; /* Optional, um Innenränder zu entfernen */
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #f2f2f2;
}

.highlight {
    background-color: limegreen; /* Grüne Textmarkierung */
    padding: 2px 4px; /* Leichter Abstand, damit es wie ein Textmarker aussieht */
    border-radius: 3px; /* Runde Kanten für ein weiches Aussehen */
}

a {
    text-decoration: none;;
}
